<% if false%>
<form action="/users" method="post" accept-charset="UTF-8" data-turbo="false">
    <label for="email">Email</label>
    <input type="text" name="user[email]" id="email"><br><br>
    <label for="username">User Name:</label>
    <input type="text" name="user[username]" id="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password"><br><br>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Submit">
</form>
<% end%>